<%= render 'layouts/messages' %>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">حول الدليل</h2>
          <h5 class="description">يقدم الدليل معلومات شاملة وموثقة عن بلدان العالم بما في ذلك المعلومات السياسية و الاقتصادية والجغرافية والثقافية بهدف تقديم مرجع موثق للبيانات سهل الاستخدام و قابل للوصول في اي مكان.</h5>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
