<div class="page-header">
  <div class="filter"></div>
<div class="container">
  <div class="motto text-center">
    <h1 class="title">
      دليل العالم</h1>
    <h3>الدليل الجغرافي، السياسي، الاقتصادي، الثقافي، الشامل لدول العالم</h3>
    <br/>
  </div>
  <%= render 'layouts/messages' %>
</div>
</div>
</div>
