<div class="mx-auto px-auto text-center justify-content-center align-items-center" dir="rtl">
<h2> اضافة دولة جديدة</h2>
<br>
<%= render 'form', state: @state %>
<br>
<%= link_to 'الرجوع للسابق', states_path, :class => "btn btn-warning btn-lg" %>
</div>
