<footer class="footer section-dark">
  <div class="container ">
    <div class="row justify-content-center align-items-center">

      <nav class="footer-nav" dir="rtl">
        <ul>
          <li>
            <a href="#">الرئيسية</a>
          </li>
          |
          <li>
            <a href="#">حول الدليل</a>
          </li>
          |
          <li>
            <a href="#">تسجيل الدخول</a>
          </li>
        </ul>
      </nav>

    </div>

    <div class="text-center justify-content-center align-items-center">
      <span class="copyright">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>
        جميع الحقوق محفوظة
      </span>
    </div>

  </div>
</footer>
