<footer class="footer section-dark">
  <div class="container ">
    <div class="row justify-content-center align-items-center">

      <nav class="footer-nav" dir="rtl">
        <ul>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
            الرئيسية
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to states_path, class: "nav-link" do %>
          دليل العالم
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to about_path, class: "nav-link" do %>
        حول الدليل
      <% end %>
    </li>
        </ul>
      </nav>

    </div>

    <div class="text-center justify-content-center align-items-center">
      <span class="copyright">
        © 2018
        جميع الحقوق محفوظة
      </span>
    </div>

  </div>
</footer>
